
.parentcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.id {
    background-color: whitesmoke;
    padding: 5px;
    margin: 0px 2px;
}

.parentcontainer2 {
    font-family: Arial, sans-serif;
    background-color: #117554;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 30px; 
    margin: 200px 20px 0px 30px;
    gap: 50px; 
    height: 50px;
    color: white;
}

.icon {
    height: 40px;
    width: 40px;
    color:white;
    margin-left:10px;
    margin-right: -50px;
     
}
.icon2 {
    height: 40px;
    width: 40px;
    color:white;
    margin-left:10px;
    margin-right: -50px; 
}

.icon3{
    height: 50px;
    width: 40px;
    color:white;
    margin-left:10px;
    margin-right: -50px; 
}

.t {
    margin: 0;
    padding: 0;
}

.i {
    background-color: yellowgreen;
    padding: 10px 20px;
    margin: 0px;
    text-align: center;
    border-radius: 8px;
    color: black;
    height:30px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 30px;

}
.parentcontainer3 {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 30px;
    margin: 200px 20px 0px 30px;
    gap: 40px; 
    height: 50px;
    color: white;
}


.i1 {
    background-color: white;
    padding: 10px 20px;
    margin: 0px;
    text-align: center;
    border-radius: 8px;
    color: black;
    height: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 5px; 
}


.t:nth-of-type(6) {
    margin-right: 30px;
}

.t:nth-of-type(7) {
    margin-right: 10px;
}

.artboard-text {
    color: white; 
    font-weight: bold; 
    font-size: 30px; 
    line-height: 40px; 
    margin-right: 350px;
    padding-left: 0;
    margin-left: 5px;
}

.artboard-text1 {
    color: white; 
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-right: 250px;
    padding-left: 0;
    margin-left:5px ;
}